# Nextflow outputs & work directories
work/
.nextflow/
.nextflow.log*
.nextflow.trace*
results*/

# nf-test
.nf-test/
.nf-test.log*
.nf-test-*.nf

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# OS / Editor
.DS_Store
.vscode/
.idea/
*.swp