/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    alphavirus-variant-analysis Nextflow Configuration
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

nextflow.enable.dsl = 2

// Global Default Parameters
params {
    // Input/output options
    input                      = null
    fasta                      = null
    gff                        = null
    outdir                     = './results'
    dataset                    = 'mouse_veev'
    publish_dir_mode           = 'copy'

    // Reference & Target Contig
    viral_contig               = 'KP282671.1'

    // iVar parameters
    ivar_min_depth             = 1000
    ivar_min_freq              = 0.01
    ivar_min_bq                = 30
    ivar_consensus_min_cov     = 10
    ivar_consensus_threshold   = 0.5

    // LoFreq parameters
    lofreq_min_depth           = 1000
    lofreq_min_freq            = 0.01
    lofreq_min_bq              = 30
    lofreq_min_mq              = 60
    lofreq_sig                 = 0.01
    lofreq_enable_indelqual    = false
    lofreq_enable_baq          = false

    // Workflow stage toggles
    run_ivar                   = true
    run_lofreq                 = true
    run_annotation             = true
    run_coverage               = true
    run_snpgenie               = false
    run_haplotype              = false

    // Resource limits
    max_cpus                   = 16
    max_memory                 = '32.GB'
    max_time                   = '24.h'
}

// Load base config
includeConfig 'conf/base.config'

// Load modules config
includeConfig 'conf/modules.config'

// Load container pins
includeConfig 'conf/containers.config'

// Profiles
profiles {
    test {
        includeConfig 'conf/test.config'
    }
    slurm {
        includeConfig 'conf/slurm.config'
    }
    awsbatch {
        includeConfig 'conf/awsbatch.config'
    }
}

// Manifest
manifest {
    name            = 'alphavirus-variant-analysis'
    author          = 'Antigravity Team'
    homePage        = 'https://github.com/aleponce4/alphavirus-variant-analysis-workflow'
    description     = 'Nextflow DSL2 workflow for alphavirus variant discovery, annotation, selection, and haplotype reconstruction.'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=24.04.0'
    version         = '1.0.0dev'
}

// Execution reporting
def trace_timestamp = new java.text.SimpleDateFormat("yyyy-MM-dd_HH-mm-ss").format(new java.util.Date())
timeline {
    enabled   = true
    file      = "${params.outdir}/pipeline_info/execution_timeline_${trace_timestamp}.html"
    overwrite = true
}
report {
    enabled   = true
    file      = "${params.outdir}/pipeline_info/execution_report_${trace_timestamp}.html"
    overwrite = true
}
trace {
    enabled   = true
    file      = "${params.outdir}/pipeline_info/execution_trace_${trace_timestamp}.txt"
    overwrite = true
}
dag {
    enabled   = true
    file      = "${params.outdir}/pipeline_info/pipeline_dag_${trace_timestamp}.html"
    overwrite = true
}
