/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    AWS Batch Cloud Profile Configuration
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {
    config_profile_name        = 'AWS Batch profile'
    config_profile_description = 'Example AWS Batch profile (unvalidated template for cloud deployment)'
    aws_queue                  = 'high-priority'
    aws_region                 = 'us-east-1'
}

process {
    executor = 'awsbatch'
    queue    = params.aws_queue
}

aws {
    region = params.aws_region
    batch {
        cliPath = '/home/ec2-user/miniconda/bin/aws'
    }
}

docker {
    enabled = true
}

singularity {
    enabled = false
}
