/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Container Image Pins (Auditable Single Source of Truth)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {
    // Tool containers pinned to quay.io/biocontainers
    // samtools v1.21 @sha256:783c6646029a306ec5e4162009dc1a20d8f6c528f7c380e5b4affbf12d9112e5
    container_samtools           = 'quay.io/biocontainers/samtools:1.21--h50ea8bc_0'
    // bcftools v1.21 @sha256:e32f39e2c692c4a6ec8ba4a48b1f9b5b6c01616aba46affdaca0b943014e794e
    container_bcftools           = 'quay.io/biocontainers/bcftools:1.21--h3a4d415_1'
    // lofreq v2.1.5 @sha256:b6b713835f8f8ed979dd5a4f6be5975db358f2762a4b868ac1b5ef970cbb4116
    container_lofreq             = 'quay.io/biocontainers/lofreq:2.1.5--py310hef9f4f8_16'
    // ivar v1.4.4 @sha256:56885dfb28ee55bd6d8ed5088c42a27ffb2a0fb5ec6ca2be5e003666d12354c0
    container_ivar               = 'quay.io/biocontainers/ivar:1.4.4--h077b44d_0'
    // cliquesnv v2.0.3 @sha256:0d6c469b6016aa85d5ce94c4897282cb8d0bfa802ff6075908e7e108ee853d9e
    container_cliquesnv          = 'quay.io/biocontainers/cliquesnv:2.0.3--hdfd78af_0'
    // shorah / viloca v1.99.2 @sha256:d81a95e69e77ff34b46c65b53e870020d52b14644a49c95ff9249e0b82f6f58f
    container_shorah             = 'quay.io/biocontainers/shorah:1.99.2--py310hd9d0d86_8'
    // python reporting (pandas, matplotlib, seaborn, openpyxl) @sha256:4cc84261c4b7a77a23cfbaa5b5316416a507b42ac8cde330b002631666d99ca2
    container_python_reporting   = 'quay.io/biocontainers/python:3.12.12'
    // bioconductor-limma v3.58.1 @sha256:d894b9aa17865c3bb97098e9b8cd4e17efcb27bf21d4d38df8fa5e6a9fc77148
    container_bioconductor_limma = 'quay.io/biocontainers/bioconductor-limma:3.58.1--r43ha9d7317_1'
    // perl-bioperl v1.7.8 (for vendored SNPGenie execution)
    container_perl_bioperl       = 'quay.io/biocontainers/perl-bioperl:1.7.8--hdfd78af_1'
    // fastqc v0.12.1
    container_fastqc             = 'quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0'
    // bwa v0.7.18
    container_bwa                = 'quay.io/biocontainers/bwa:0.7.18--he4a0461_1'
    // multiqc v1.25.1
    container_multiqc            = 'quay.io/biocontainers/multiqc:1.25.1--pyhdfd78af_0'
}
