/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Container Image Pins
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {
    // Tool containers pinned to quay.io/biocontainers
    container_samtools           = 'quay.io/biocontainers/samtools:1.21--h50ea8bc_0'
    container_bcftools           = 'quay.io/biocontainers/bcftools:1.21--h3a4d415_0'
    container_lofreq             = 'quay.io/biocontainers/lofreq:2.1.5--py310h567756f_8'
    container_ivar               = 'quay.io/biocontainers/ivar:1.4.4--h002d08a_0'
    container_cliquesnv          = 'quay.io/biocontainers/cliquesnv:2.0.3--hdfd78af_0'
    container_shorah             = 'quay.io/biocontainers/shorah:1.99.2--py310h4b6a836_2'
    container_python_reporting   = 'quay.io/biocontainers/mulled-v2-81ab464016766624501a5d911bb58742880092f3:a3a30cb17fb52ee4b1f486445214be394fe3548a-0'
    container_bioconductor_limma = 'quay.io/biocontainers/bioconductor-limma:3.58.0--r43h4560d00_0'
    container_perl_bioperl       = 'quay.io/biocontainers/perl-bioperl:1.7.8--hdfd78af_1'
}
