/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Modules / Process Options & PublishDir Configuration
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {
    withName: EXTRACT_VIRAL_BAM {
        publishDir = [
            path: { "${params.outdir}/BAMs" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: LOFREQ_FILTER {
        publishDir = [
            path: { "${params.outdir}/LoFreq/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: IVAR_VARIANTS {
        publishDir = [
            path: { "${params.outdir}/Ivar/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: IVAR_CONSENSUS {
        publishDir = [
            path: { "${params.outdir}/Ivar/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: BCFTOOLS_CSQ {
        publishDir = [
            path: { "${params.outdir}/Annotated_variants/${meta.caller ?: 'lofreq'}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: COVERAGE_SUMMARIZE {
        publishDir = [
            path: { "${params.outdir}/Coverage" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: SNPGENIE_RUN {
        publishDir = [
            path: { "${params.outdir}/SNPGenie/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: SELECTION_BUILD_TABLES {
        publishDir = [
            path: { "${params.outdir}/SNPGenie/analysis" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: CLIQUESNV {
        publishDir = [
            path: { "${params.outdir}/Haplotypes/CliqueSNV/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: VILOCA {
        publishDir = [
            path: { "${params.outdir}/Haplotypes/VILOCA/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'HAPLOTYPE_TABLES|HAPLOTYPE_LINKAGE' {
        publishDir = [
            path: { "${params.outdir}/Haplotypes/tables" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: HAPLOTYPE_PLOTS {
        publishDir = [
            path: { "${params.outdir}/Reports/Plots" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: REPORT_RUN_SUMMARY {
        publishDir = [
            path: { "${params.outdir}/Reports/tables" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: FASTQC {
        publishDir = [
            path: { "${params.outdir}/FastQC/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: BWA_MEM {
        publishDir = [
            path: { "${params.outdir}/Bwa/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: IVAR_TRIM {
        publishDir = [
            path: { "${params.outdir}/Ivar/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: SAMTOOLS_STATS {
        publishDir = [
            path: { "${params.outdir}/Samtools_stats/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: DUMP_SOFTWARE_VERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: MULTIQC {
        publishDir = [
            path: { "${params.outdir}/MultiQC" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: EXECUTIVE_REPORT {
        publishDir = [
            path: { "${params.outdir}/Reports" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'REPORT_.*_PLOTS' {
        publishDir = [
            path: { "${params.outdir}/Reports/Plots" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
