/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    SLURM HPC Profile Configuration
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {
    config_profile_name        = 'SLURM profile'
    config_profile_description = 'HPC production profile using SLURM executor and Singularity'
    singularity_cache_dir      = null
}

process {
    executor = 'slurm'
    queue    = 'standard'
}

executor {
    name      = 'slurm'
    queueSize = 50
}

singularity {
    enabled    = true
    autoMounts = true
    cacheDir   = params.singularity_cache_dir
}

docker {
    enabled = false
}
